<div class="about-author clearfix">
    {{#if profile_image}}
    <a href="{{url}}"><img src="{{profile_image}}" alt="Author profile image" class="avatar"></a>
    {{/if}}
    <div class="details">
        <div class="author">
            <h3><a href="{{url}}">{{name}}</a></h3>
        </div>
        {{#if bio}}
        <div class="bio">
            {{{bio}}}
        </div>
        {{/if}}
        <div class="meta-info">
            {{#if location}}
            <span class="loaction"><i class="fa fa-home"></i>{{location}}</span>
            {{/if}}
        </div>
    </div>
</div>