<div class="about-author clearfix">
    <img src="/assets/images/ProfilePic.jpg" alt="Author profile image" class="avatar" />
    <div class="details">
        <div class="author">
            <h3><a>Richard Tasker</a></h3>
        </div>
        <div class="bio">
            Richard is a .Net Developer with 8yrs experience building web applications. Richard has a keen interest in 
            developing APIs and distributed systems for the cloud using agile methods. 
        </div>
        <div class="meta-info">
            <span class="loaction"><i class="fa fa-home"></i>Leeds, UK</span>
        </div>
    </div>
</div>