<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            	<div class="copyright">
            		Copyright &copy; @DateTime.Now.Year <a href="@Model[Keys.Host].ToString()">@Model["site-title"].ToString()</a>
            	</div>
            </div>
            @* {{> social-link}} *@
        </div>
    </div>
</footer>