<!-- start header -->
<header class="main-header">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-content-wrap">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed btn btn-default btn-menu-toggle" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<!-- <div class="search-toggle-wrap pull-right hidden-sm hidden-md hidden-lg">
					<a href="" class="search-toggle"><i class="fa fa-search"></i></a>
				</div> -->
				<a class="navbar-brand" href="@Model[Keys.Host].ToString()">@Model["site-title"].ToString()</a>
			</div>
			<!-- <div class="search-toggle-wrap pull-right hidden-xs">
				<a href="" class="search-toggle"><i class="fa fa-search"></i></a>
			</div> -->
			<div class="collapse navbar-collapse" id="main-menu">
                <!-- start navigation -->
                <ul class="menu navbar-right">
	                <li class="home"><a href="/">Home</a></li>
	                <li class="public-speaking"><a href="/public-speaking">Public Speaking</a></li>
	                <li class="about"><a href="/about">About</a></li>
	                <li class="now"><a href="/now">Now</a></li>
                </ul>
                <!-- end navigation -->
            </div>
	        </div>
		</div>
	</nav>
</header>
<!-- end header -->