<!-- start cover area / cover-tag -->
<div class="cover align-center">
    <div class="cover-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="title">Tag: @Model.String("tag")</h1>
                    <div class="post-count">
                        <span>Total % Posts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cover area -->