WritePath: index.html
---
@Html.Partial("~/_layouts/_header.cshtml")
<!-- start main content area -->
	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 content-wrap">
					Hello World!
				</div>
			</div>
		</div>
	</section>
	<!-- end main content area -->